{% extends "base.html" %}
{% block title %}Library Loan System - Login{% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        .login{
        text-align:center;
        }
body {
  font-family: Agrandir, Source Serif Pro, Agrandir Grand;
}
    </style>
</head>
<body>
<div class="login">
    <img src="images/logo.png" alt="logo">
    <h2>Earthly Pages</h2>
    <h4>Welcome!</h4>
    <br>
    <form>
        <label>Username:</label><br>
        <input type="text" placeholder="Enter Username" id="user" name="user" required><br><br>
        <label>Password:</label><br>
        <input type="text" placeholder="Enter Password" id="pwd" name="pwd" required><br><br>
        <input type="radio">Remember Me<br><br>
        <a href="home.html"><button style="background-color: #4C7D66; color:white;">Let's go!</button></a><br>
        <p>Not a member? <a href="signuppage.html" style="color:black;">Sign Up now</a></p>
    </form>
</div>
</body>
</html>
{% endblock %}
